.container{
    display: flex;
justify-content: space-between;
}
.products{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.search{
    margin:  50px;
}
.search input{
    border: 2px dashed #fe5d42 ;
    padding: 10px;
    width: 250px;
    font-size: 0.9rem;
    color: #fe5d42;
    border-radius: 10px;
    margin-right: 10px;
}
.search input:focus{
    outline: none;
}
.search button{
    padding: 10px;
    font-size: 1rem;
    background-color: #fe5d42;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.sidebar{
    width: 200px;
    height: fit-content;
    margin: 10px;
    padding: 20px;
    margin-left: 30px;
    background-color: #fff;
    border: 2px dashed #e2e2e2;
}
.sidebar div{
    width: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #fe5d42;
    font-weight: 500;
}
.sidebar p{
    margin-left: 10px;
}
.sidebar li{
    list-style: none;
    padding: 5px;
    cursor: pointer;
}
.sidebar li:hover{
color: #fe5d42;
}